$transition: .8s cubic-bezier(0.68, -0.55, 0.27, 1.55)
.about 
    position: relative
    +flexCenter()
    background-color: $base-dark
    padding: 20px
    overflow: hidden
    @media (orientation: portrait) and (min-width: 360px)
        padding: 60px 20px
    @media (orientation: portrait) and (min-height: 800px)
        padding: 150px 20px
    @media (orientation: landscape) and (min-width: 500px)
        padding: 20px 60px
    @media (min-width: 1000px) and (min-height: 1000px)
        padding: 60px 20px
    .left, .right 
        position: absolute
        top: 0
        width: 50%
        height: 100vh 
        overflow: hidden  
        background-color: $base-dark
        border: 4px solid $border-red
        transition: 1s
    .left 
        left: 0
        border-left: none
        border-right: 2px solid $border-red
    .right 
        right: 0
        border-right: none
        border-left: 2px solid $border-red
    .left::after, .right::after 
        width: 150px 
        height: 150px 
        position: absolute 
        content: ""
        background-color: $base-dark
        border-radius: 50%
        top: 50% 
        transform: translateY(-50%)
        box-sizing: border-box
    .left::after 
        right: -79px
        background-color: $light-red  
    .right::after 
        left: -79px
        background-color: $border-red
    .orb, .orb-small
        position: absolute 
        width: 150px 
        height: 150px
        left: 50% 
        top: 50% 
        opacity: 1
        transform: translate(-50%,-50%)
        background-color: #fff
        border-radius: 50%
        overflow: hidden
        +flexCenter()
        flex-wrap: nowrap
        &::after, &::before,  .orb-small::after, .orb-small::before
            diplay: block
            content: ""
            width: 1215px 
            height: 300px
            box-sizing: border-box
        &::after, .orb-small::before
            background-color: $light-red
        &::before, .orb-small::after
            background-color: $border-red
        .orb-small 
            height: 84px 
            width: 84px
    h2 
        font-size: 20px
        @media (min-width: 500px)
            font-size: 14px
        @media (min-width: 600px)
            font-size: 16px
        @media (min-width: 720px)
            font-size: 18px
        @media (min-width: 750px) and (min-height: 750px)
            font-size: 35px
        
    h2, p 
        text-align: center
        @media (min-width: 1200px) and (min-height: 500px)
            width: 70%
        @media (min-width: 1000px) and (min-height: 1000px)
            width: 55%
    p 
        @media (orientation: landscape) and (min-width: 500px)
            font-size: 12px
        @media (orientation: landscape) and (min-width: 600px)
            font-size: 14px
        @media (orientation: landscape) and (min-width: 720px)
            font-size: 16px
        @media (min-width: 750px) and (min-height: 750px)
            font-size: 25px
        
    .advantage 
        width: 70%
        padding: 10px
        border: 4px solid $border-red
        border-radius: 8px
        text-transform: uppercase
        @media (orientation: landscape) and (min-width: 500px)
            padding: 5px
        @media (orientation: landscape) and (min-width: 720px)
            padding: 10px
        @media (min-width: 1200px) and (min-height: 500px)
            width: 52%
        @media (min-width: 1000px) and (min-height: 1000px)
            padding: 20px
            width: 52%
    .advantage-1, .advantage-3
        transform: translateX(-150%)
        @media (min-width: 1200px) and (min-height: 500px)
            transform: translateX(-200%)
    .advantage-2
        transform: translateX(150%)
        @media (min-width: 1200px) and (min-height: 500px)
            transform: translateX(200%)
.about.active
    .orb
        animation: rotate 1s forwards 
        @keyframes rotate 
            99% 
                opacity: 1 
                transform: translate(-50%,-50%) rotate(180deg)
            100% 
                opacity: 0
                visibility: hidd51
    .orb-small
        animation: rotateSmall 1s forwards 
        @keyframes rotateSmall 
            99% 
                opacity: 1 
                transform: translate(-50%,-50%) rotate(-540deg)
            100% 
                opacity: 0
                visibility: hidd51
    .left 
        animation: slideLeft 1s forwards 1.1s
        @keyframes slideLeft 
            100%
                transform: translateX(-110%)
    .right 
        animation: slideRight 1s forwards 1.1s
        @keyframes slideRight
            100%
                transform: translateX(110%)
    .advantage-1,  .advantage-2, .advantage-3
        animation: showUp 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55)forwards  1.5s
        @keyframes showUp 
            100%
                transform: none
    .advantage-2
        animation-delay: 1.7s
    .advantage-3
        animation-delay: 1.9s


                


    

