.contact
    position: relative
    padding: 0
    overflow: hidden
    .ceiling
        position: absolute 
        width: 100vw 
        height: 10px 
        background-color: #000
    .map
        position: absolute
        top: 45%
        left: 50%
        transform: translateX(-50%) rotate(-10deg)
        width: 60%
        height: 45% 
        margin-bottom: 20px
        border: 8px solid #626266
        border-radius: 8px
        iframe 
            border-radius: 4px
        &::after 
            position: absolute
            content: ""
            left: 50%
            top: -40%
            transform: translateX(-50%) 
            height: 39%
            width: 5px
            background-color: #626266
            border-radius: 8px
        animation: hang 5s ease-in-out infinite 
        transform-origin: 40% -50%
        @keyframes hang 
            50% 
                transform: translateX(-50%) rotate(10deg)
            100%
                transform: translateX(-50%) rotate(-10deg)
            
    .hook 
        position: absolute
        height: 30%
        top: 0
        left: 54%
        transform: translateX(-50%)   
        

        