.header
    position: relative
    padding: 40px
    +flexCenter()
    // align-content: center
    overflow: hidden
    h1 
        +flexCenter()
        @media (orientation: portrait) and (min-width: 350px)
            font-size: 40px
        @media (min-width: 750px) and (min-height: 750px)
            font-size: 50px
        @media (min-width: 1000px) and (min-height: 1000px)
            font-size: 60px
        @media (min-width: 1400px)
            width: 100%
            font-size: 70PX
    h1, p 
        text-align: center
    p 
        margin-bottom: 100px
        font-size: 20px
        @media (min-width: 750px) and (min-height: 750px)
            font-size: 30px
        @media (min-width: 1300px) and (min-height: 700px)
            width: 60%
            margin-bottom: 150px
        @media (min-width: 1000px) and (min-height: 1000px)
            width: 60%
            font-size: 40px
        @media (min-width: 1400px)
            margin-bottom: 300px
    .vehicle
        position: absolute
        width: 90px
        height: 90px
        bottom: 45px
        right: -100px
        @media (min-width: 1300px) and (min-height: 700px)
            width: 120px
            height: 120px
        @media (min-width: 1400px)
            width: 150px
            height: 150px
        img 
            width: 100%
            position: absolute 
            bottom: 0
        @keyframes ride 
            100% 
                transform: translateX(-140vw)
        &::after, &::before 
            position: absolute 
            opacity: 1
            content: ""
            top: 35px
            right: -12px
            width: 10px
            height: 10px 
            border-radius: 50% 
            background-color: gray
            animation: smoke .6s infinite
            
            @keyframes smoke 
                100% 
                    opacity: 0
                    transform:  translate(150%,-150%) scale(2)
        &::after 
            animation-delay: .3s
    .road 
        position: absolute
        bottom: 50px
        width: 100vw
        height: 4px 
        background-color: gray