=flexCenter()
    display: flex 
    justify-content: center 
    align-items: center 
    flex-wrap: wrap
*
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
body 
    overflow-x: hidden


.effect 
    position: relative
    width: 100vw 
    height: 100vh
    overflow: hidden
    background-color: black
    +flexCenter()
    align-items: flex-end
    #lottie 
        width: 100vw
        position: absolute
        bottom: -200px

.hammer 
    position: fixed 
    top: 50% 
    left: 50% 
    transform: translate(-50%,-50%)
    color: red
    font-size: 50px
    z-index: 5
    background-color: transparent
    transform-origin: left bottom
    animation: shake 3s linear infinite
    cursor: pointer
    @keyframes shake 
        1% 
            transform: translate(-50%,-50%) rotate(-12deg)
        2% 
            transform: translate(-50%,-50%) rotate(12deg)
        3% 
            transform: translate(-50%,-50%) rotate(-12deg)
        4% 
            transform: translate(-50%,-50%) rotate(12deg)
        5% 
            transform: translate(-50%,-50%)
        100% 
            transform: translate(-50%,-50%) 

.hammer.animate 
    animation: hit .5s ease 
    @keyframes hit 
        90%
            transform: translate(-50%,-50%) rotate(-120deg)
        100% 
            transform: translate(-50%,-50%)  
.hammer.animateFall
    animation: hitFall 2s ease forwards
    @keyframes hitFall 
        20%
            transform: translate(-50%,-50%) rotate(-120deg)
        25% 
            transform: translate(-50%,-50%)
        30% 
            transform: translate(-50%,-50%)
        100%
            transform: translate(-50%,110vh) rotate(360deg)
.bricks-container 
    position: fixed 
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: transparent
    overflow: hidden
    +flexCenter()
    .brick
        position: relative
        width: 10%
        height: 10vh
        background-color: #000
        transition: .1s linear
        @keyframes fall 
            100% 
                transform: translateY(110vh) rotate(360deg) 

.header 
    width: 100vw
    height: 100vh
    +flexCenter()
