* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

.effect {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.effect #lottie {
  width: 100vw;
  position: absolute;
  bottom: -200px;
}

.hammer {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: red;
  font-size: 50px;
  z-index: 5;
  background-color: transparent;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: shake 3s linear infinite;
          animation: shake 3s linear infinite;
  cursor: pointer;
}

@-webkit-keyframes shake {
  1% {
    -webkit-transform: translate(-50%, -50%) rotate(-12deg);
            transform: translate(-50%, -50%) rotate(-12deg);
  }
  2% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
            transform: translate(-50%, -50%) rotate(12deg);
  }
  3% {
    -webkit-transform: translate(-50%, -50%) rotate(-12deg);
            transform: translate(-50%, -50%) rotate(-12deg);
  }
  4% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
            transform: translate(-50%, -50%) rotate(12deg);
  }
  5% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  1% {
    -webkit-transform: translate(-50%, -50%) rotate(-12deg);
            transform: translate(-50%, -50%) rotate(-12deg);
  }
  2% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
            transform: translate(-50%, -50%) rotate(12deg);
  }
  3% {
    -webkit-transform: translate(-50%, -50%) rotate(-12deg);
            transform: translate(-50%, -50%) rotate(-12deg);
  }
  4% {
    -webkit-transform: translate(-50%, -50%) rotate(12deg);
            transform: translate(-50%, -50%) rotate(12deg);
  }
  5% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.hammer.animate {
  -webkit-animation: hit .5s ease;
          animation: hit .5s ease;
}

@-webkit-keyframes hit {
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes hit {
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.hammer.animateFall {
  -webkit-animation: hitFall 2s ease forwards;
          animation: hitFall 2s ease forwards;
}

@-webkit-keyframes hitFall {
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 110vh) rotate(360deg);
            transform: translate(-50%, 110vh) rotate(360deg);
  }
}

@keyframes hitFall {
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 110vh) rotate(360deg);
            transform: translate(-50%, 110vh) rotate(360deg);
  }
}

.bricks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bricks-container .brick {
  position: relative;
  width: 10%;
  height: 10vh;
  background-color: #000;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
  }
}

@keyframes fall {
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
  }
}

.header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
