* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  background-color: #1a1a1d;
  font-family: 'Muli', sans-serif;
  color: #fff;
}

.effect {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.effect #lottie {
  width: 100vw;
  position: absolute;
  bottom: -200px;
}

.hammer {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  z-index: 6;
  background-color: transparent;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  cursor: pointer;
}

.hammer.animate {
  -webkit-animation: hit .2s ease;
          animation: hit .2s ease;
}

@-webkit-keyframes hit {
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes hit {
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.hammer.animateFall {
  -webkit-animation: hitFall 1s ease forwards;
          animation: hitFall 1s ease forwards;
}

@-webkit-keyframes hitFall {
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 110vh) rotate(360deg);
            transform: translate(-50%, 110vh) rotate(360deg);
  }
}

@keyframes hitFall {
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
            transform: translate(-50%, -50%) rotate(-120deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  30% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, 110vh) rotate(360deg);
            transform: translate(-50%, 110vh) rotate(360deg);
  }
}

.bricks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bricks-container .brick {
  position: relative;
  width: 10%;
  height: 10vh;
  background-color: #C7493A;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  z-index: 5;
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
  }
}

@keyframes fall {
  100% {
    -webkit-transform: translateY(110vh) rotate(360deg);
            transform: translateY(110vh) rotate(360deg);
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .bricks-container .brick {
    cursor: pointer;
  }
}

.wallAdvice {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  z-index: 9;
}

@media (min-width: 1200px) and (min-height: 500px) {
  .wallAdvice {
    font-size: 20px;
  }
}

.main-section {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  background-color: transparent;
  -webkit-transform: translateX(-160px);
          transform: translateX(-160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 3;
}

@media (min-width: 1400px) {
  .nav {
    width: 250px;
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
  }
}

.nav .hamburger {
  position: fixed;
  top: 10px;
  left: 170px;
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  outline: none;
}

@media (min-width: 750px) and (min-height: 750px) {
  .nav .hamburger {
    width: 60px;
    height: 40px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .nav .hamburger {
    cursor: pointer;
    width: 40px;
    height: 30px;
  }
}

@media (min-width: 1400px) {
  .nav .hamburger {
    left: 270px;
  }
}

.nav .hamburger .bar {
  height: 4px;
  width: 30px;
  background-color: #A33327;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 750px) and (min-height: 750px) {
  .nav .hamburger .bar {
    height: 5px;
    width: 50px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .nav .hamburger .bar {
    height: 4px;
    width: 30px;
  }
}

.nav .hamburger .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  font-size: 35px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #A33327;
}

@media (min-width: 750px) and (min-height: 750px) {
  .nav .hamburger .fas {
    font-size: 45px;
  }
}

.nav .nav-btn {
  display: block;
  width: 150px;
  height: 50px;
  background-color: #C7493A;
  border: 4px solid #A33327;
  margin: 10px 0;
  border-radius: 6px;
  color: #fff;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 420px) {
  .nav .nav-btn {
    margin: 5px 0;
  }
}

@media (min-width: 1200px) {
  .nav .nav-btn:hover {
    letter-spacing: 2px;
  }
}

@media (min-width: 1400px) {
  .nav .nav-btn {
    width: 250px;
    height: 60px;
    font-size: 20px;
    margin: 10px 0;
  }
}

.nav .nav-btn-about {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav .nav-btn-offer {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav .nav-btn-contact {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav.active .hamburger .bar {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.nav.active .hamburger .bar2 {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.nav.active .hamburger .fas {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.nav.active .nav-btn {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

@media (min-width: 1400px) {
  .nav.active .nav-btn {
    -webkit-transform: translateX(240px);
            transform: translateX(240px);
  }
}

.header {
  position: relative;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (orientation: portrait) and (min-width: 350px) {
  .header h1 {
    font-size: 40px;
  }
}

@media (min-width: 750px) and (min-height: 750px) {
  .header h1 {
    font-size: 50px;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .header h1 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .header h1 {
    width: 100%;
    font-size: 50px;
  }
}

@media (min-width: 1400px) {
  .header h1 {
    font-size: 70px;
  }
}

.header h1, .header p {
  text-align: center;
}

.header p {
  margin-bottom: 100px;
  font-size: 20px;
}

@media (min-width: 750px) and (min-height: 750px) {
  .header p {
    font-size: 30px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .header p {
    width: 60%;
    margin-bottom: 150px;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .header p {
    width: 60%;
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .header p {
    margin-bottom: 300px;
  }
}

.header .vehicle {
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 45px;
  right: -100px;
}

@media (min-width: 1200px) and (min-height: 500px) {
  .header .vehicle {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1400px) {
  .header .vehicle {
    width: 150px;
    height: 150px;
  }
}

.header .vehicle img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes ride {
  100% {
    -webkit-transform: translateX(-140vw);
            transform: translateX(-140vw);
  }
}

@keyframes ride {
  100% {
    -webkit-transform: translateX(-140vw);
            transform: translateX(-140vw);
  }
}

.header .vehicle::after, .header .vehicle::before {
  position: absolute;
  opacity: 1;
  content: "";
  top: 35px;
  right: -12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  -webkit-animation: smoke .6s infinite;
          animation: smoke .6s infinite;
}

@-webkit-keyframes smoke {
  100% {
    opacity: 0;
    -webkit-transform: translate(150%, -150%) scale(2);
            transform: translate(150%, -150%) scale(2);
  }
}

@keyframes smoke {
  100% {
    opacity: 0;
    -webkit-transform: translate(150%, -150%) scale(2);
            transform: translate(150%, -150%) scale(2);
  }
}

.header .vehicle::after {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.header .road {
  position: absolute;
  bottom: 50px;
  width: 100vw;
  height: 4px;
  background-color: gray;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1a1a1d;
  padding: 20px;
  overflow: hidden;
}

@media (orientation: portrait) and (min-width: 360px) {
  .about {
    padding: 60px 20px;
  }
}

@media (orientation: portrait) and (min-height: 800px) {
  .about {
    padding: 150px 20px;
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  .about {
    padding: 20px 60px;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .about {
    padding: 60px 20px;
  }
}

.about .left, .about .right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1d;
  border: 4px solid #A33327;
  -webkit-transition: 1s;
  transition: 1s;
}

.about .left {
  left: 0;
  border-left: none;
  border-right: 2px solid #A33327;
}

.about .right {
  right: 0;
  border-right: none;
  border-left: 2px solid #A33327;
}

.about .left::after, .about .right::after {
  width: 150px;
  height: 150px;
  position: absolute;
  content: "";
  background-color: #1a1a1d;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .left::after {
  right: -79px;
  background-color: #C7493A;
}

.about .right::after {
  left: -79px;
  background-color: #A33327;
}

.about .orb, .about .orb-small {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.about .orb::after, .about .orb::before, .about .orb .orb-small::after, .about .orb .orb-small::before, .about .orb-small::after, .about .orb-small::before, .about .orb-small .orb-small::after, .about .orb-small .orb-small::before {
  diplay: block;
  content: "";
  width: 1215px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about .orb::after, .about .orb .orb-small::before, .about .orb-small::after, .about .orb-small .orb-small::before {
  background-color: #C7493A;
}

.about .orb::before, .about .orb .orb-small::after, .about .orb-small::before, .about .orb-small .orb-small::after {
  background-color: #A33327;
}

.about .orb .orb-small, .about .orb-small .orb-small {
  height: 84px;
  width: 84px;
}

.about h2 {
  font-size: 20px;
}

@media (min-width: 500px) {
  .about h2 {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .about h2 {
    font-size: 16px;
  }
}

@media (min-width: 720px) {
  .about h2 {
    font-size: 18px;
  }
}

@media (min-width: 750px) and (min-height: 750px) {
  .about h2 {
    font-size: 35px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about h2 {
    font-size: 25px;
  }
}

.about h2, .about p {
  text-align: center;
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about h2, .about p {
    width: 70%;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .about h2, .about p {
    width: 55%;
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  .about p {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (min-width: 600px) {
  .about p {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (min-width: 720px) {
  .about p {
    font-size: 16px;
  }
}

@media (min-width: 750px) and (min-height: 750px) {
  .about p {
    font-size: 25px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about p {
    font-size: 20px;
  }
}

.about .advantage {
  width: 70%;
  padding: 10px;
  border: 4px solid #A33327;
  border-radius: 8px;
  text-transform: uppercase;
}

@media (orientation: landscape) and (min-width: 500px) {
  .about .advantage {
    padding: 5px;
  }
}

@media (orientation: landscape) and (min-width: 720px) {
  .about .advantage {
    padding: 10px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about .advantage {
    width: 52%;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .about .advantage {
    padding: 20px;
    width: 52%;
  }
}

.about .advantage-1, .about .advantage-3 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about .advantage-1, .about .advantage-3 {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.about .advantage-2 {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

@media (min-width: 1200px) and (min-height: 500px) {
  .about .advantage-2 {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

.about.active .orb {
  -webkit-animation: rotate 1s forwards;
          animation: rotate 1s forwards;
}

@-webkit-keyframes rotate {
  99% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 0;
    visibility: hidd51;
  }
}

@keyframes rotate {
  99% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 0;
    visibility: hidd51;
  }
}

.about.active .orb-small {
  -webkit-animation: rotateSmall 1s forwards;
          animation: rotateSmall 1s forwards;
}

@-webkit-keyframes rotateSmall {
  99% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(-540deg);
            transform: translate(-50%, -50%) rotate(-540deg);
  }
  100% {
    opacity: 0;
    visibility: hidd51;
  }
}

@keyframes rotateSmall {
  99% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(-540deg);
            transform: translate(-50%, -50%) rotate(-540deg);
  }
  100% {
    opacity: 0;
    visibility: hidd51;
  }
}

.about.active .left {
  -webkit-animation: slideLeft 1s forwards 1.1s;
          animation: slideLeft 1s forwards 1.1s;
}

@-webkit-keyframes slideLeft {
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

@keyframes slideLeft {
  100% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

.about.active .right {
  -webkit-animation: slideRight 1s forwards 1.1s;
          animation: slideRight 1s forwards 1.1s;
}

@-webkit-keyframes slideRight {
  100% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
}

@keyframes slideRight {
  100% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
}

.about.active .advantage-1, .about.active .advantage-2, .about.active .advantage-3 {
  -webkit-animation: showUp 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards 1.5s;
          animation: showUp 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards 1.5s;
}

@-webkit-keyframes showUp {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes showUp {
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.about.active .advantage-2 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.about.active .advantage-3 {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.offer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1200px) and (min-height: 500px) {
  .offer {
    padding: 20px 200px;
  }
}

@media (min-width: 1400px) {
  .offer {
    padding: 20px 250px;
  }
}

.offer h2 {
  text-align: center;
  padding: 0 50px;
}

@media (orientation: landscape) and (min-width: 600px) {
  .offer h2 {
    width: 100%;
  }
}

@media (min-width: 750px) and (min-height: 750px) {
  .offer h2 {
    width: 100%;
    font-size: 30px;
  }
}

@media (min-width: 1000px) and (min-height: 1000px) {
  .offer h2 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) and (min-height: 500px) {
  .offer h2 {
    font-size: 35px;
  }
}

@media (min-width: 1400px) {
  .offer h2 {
    font-size: 50px;
  }
}

.offer .building {
  position: relative;
  width: 34%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 8px;
  border: 4px solid #A33327;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background-color: #1a1a1d;
}

@media (orientation: landscape) and (min-width: 500px) {
  .offer .building {
    width: 21%;
  }
}

.offer .building img {
  width: 60%;
}

.offer .building::after {
  position: absolute;
  content: "";
  left: 50%;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  height: 30px;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #1a1a1d;
  border: 4px solid #A33327;
  border-radius: 8px;
}

@media (min-width: 1200px) {
  .offer .building::after {
    height: 50px;
    font-size: 20px;
  }
}

.offer .building:hover::after {
  -webkit-transform: translate(-50%, -46px);
          transform: translate(-50%, -46px);
  visibility: visible;
  opacity: 1;
}

.offer .building:nth-of-type(1)::after {
  content: "Dog huts";
}

.offer .building:nth-of-type(2)::after {
  content: "Electric poles";
}

.offer .building:nth-of-type(3)::after {
  content: "Factories";
}

.offer .building:nth-of-type(4)::after {
  content: "Hospitals";
}

.offer .building:nth-of-type(5)::after {
  content: "Houses";
}

.offer .building:nth-of-type(6)::after {
  content: "Nuclear plants";
}

.offer .building:nth-of-type(7)::after {
  content: "Sky scrappers";
}

.offer .building:nth-of-type(8)::after {
  content: "Pumpjacks";
}

.offer.active .building {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
